<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threededge.digitalfood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TakeAway"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.threededge.com.app.digitalfood.homepage.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.threededge.com.app.digitalfood.MyOrderPageActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.userauth.LoginActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.userauth.SignupActivity" />
        <activity
            android:name="com.threededge.com.app.digitalfood.userauth.ForgotPasswordActivity"
            android:parentActivityName="com.threededge.com.app.digitalfood.userauth.LoginActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.MyAddressActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.ProfilePageActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.ChangePasswordActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.ReviewPageActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.FavouritePageActivity" />
        <activity
            android:name="com.threededge.com.app.digitalfood.AddUserAddressActivity"
            android:parentActivityName="com.threededge.com.app.digitalfood.MyAddressActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.ListRestaurentActivity" />
        <activity android:name="com.threededge.com.app.digitalfood.RestaurentDetailPage"></activity>
    </application>

</manifest>