<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.digitalfood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TakeAway"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.view.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.view.OrderPage" />
        <activity android:name=".activities.view.LoginPage" />
        <activity android:name=".activities.view.Signup" />
        <activity
            android:name=".activities.view.ForgotPassword"
            android:parentActivityName=".activities.view.LoginPage" />
        <activity android:name=".activities.view.MyAddress" />
        <activity android:name=".activities.view.ProfilePage" />
        <activity android:name=".activities.view.ChangePassword" />
        <activity android:name=".activities.view.ReviewPage" />
        <activity android:name=".activities.view.FavouritePage" />
        <activity
            android:name=".activities.view.AddAddress"
            android:parentActivityName=".activities.view.MyAddress" />
        <activity android:name=".activities.view.ListRestaurent" />

    </application>

</manifest>